<app-defaut-login-layout
    title="Tenha controle da vida financeira!!!"
    primaryBtnText="Faça Login"
    secundaryBtnText="Faça Cadastro"
>
  <form [formGroup]="loginForm">
       <app-primary-input 
            formControlName="email"
            inputName="email"
            type="email"
            label="E-mail"
            placehgolder="exemplo@gmail.com"
       >
            <img class="icon-email" src="iconEmail.png"/>
       </app-primary-input>
       <app-primary-input 
            formControlName="senha"
            inputName="senha"
            type="senha"
            label="Senha"
       >
            <img class="icon-senha" src="iconSenha.png"/>
       </app-primary-input>
       <span>Esqueci a senha</span>
  </form>

</app-defaut-login-layout>